.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 6rem;
    color: white;
    font-family: var(--header-font);
    background: var(--color-intro-email);
}
.navbar-brand {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}
.navbar-links_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar-links_container a {
    text-decoration: none;
    color: rgb(224, 224, 224);
    margin: 0 1.5rem;
    letter-spacing: 0.5px;
}
.navbar-links_container a:hover {
    text-decoration: underline;
    color: var(--color-text);
    font-weight: 700;
}
.hamburger-icon {
    display: none;
}
.navbar-mobile-menu_container-links {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: calc(100vh);
    margin: auto;
    background-color: var(--color-footer);
    text-align: center;
    padding: 50px;
    z-index: 10;
}
.navbar-mobile-menu_container-links p{
    margin: 30px;
}
.navbar-mobile-menu_container-links p:hover{
    opacity: 0.5;
}
.navbar-mobile-menu_container-links a{
    color: var(--color-text);
    text-decoration: none;
    font-size: large;
    
}
@media screen and (max-width: 900px) {
    .navbar {
        padding: 3rem 2rem;
    }

    .navbar-links_container a {
        margin: 0 1rem;
    }
}
@media screen and (max-width: 500px) {
    .navbar-links_container {
        display: none;
    }
    .hamburger-icon {
        display: block;
    }
}