.footer {
    background-color: var(--color-footer);
    margin-top: 100px;
}
.footer-content {
    display: flex;
    justify-content: center;
    padding: 3rem;
}
.footer-left {
    width: 30%;
}
.footer__text-container {
    display: flex;
    margin-top: 2rem;
}
.footer-text {
    color: var(--color-text);
    opacity: 0.8;
    margin-left: 2rem;
}
.footer-list-container {
    display: flex;
    gap: 4rem;
}
.footer-list {
    column-count: 2;
}
.footer-contacts a:hover,
.footer-list li a:hover{
    opacity: 0.5;
}
.footer-list-container ul li {
    list-style: none;
}
.footer-contacts a,
.footer-list a{
    color: var(--color-text);
    opacity: 0.8;
    text-decoration: none;
    line-height: 2.5;
}
.list-inline-item {
    display: inline;
}
.footer-contacts svg{
    margin-right: 5px;
}
.footer__social-list li {
    padding: 8px;
}
.footer__social-list svg{
    color: white;
}
.footer__social-list svg:hover{
    opacity: 0.6;
}

@media screen and (max-width: 900px) {
    .footer-content {
        display: block;
        margin: auto;
        width: 70%;
        padding: 3rem;
    }
    .footer-left {
        width: 100%;
    }
    .footer-logo {
        text-align: center;
        padding: 2rem;
    }
    .footer__text-container {
        margin: auto;
        width: 80%;
    }
    .footer-list-container {
        text-align: center;
        display: block;
    }
    .footer-contacts {
        margin-top: 2.5rem;
    }
    .footer-list {
        column-count: 1;
        margin-top: 2.5rem;
    }
    .footer__social-list {
        margin-top: 2.5rem;
    }
    .footer__social-list li {
        padding: 15px;
    }
}